<a href="https://colab.research.google.com/github/Nani9966/ANN/blob/main/ANN_FSDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import tensorflow
print(tensorflow.__version__)

2.9.2

In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
df=pd.read_csv("/content/aps_data.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (81) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
df.shape

(5000, 171)

In [30]:
df.isnull().sum().sum()

0

In [31]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,6,0,0,0,0,0,0,0,0,...,26,8,26,52,0,0,0,0,0,0
1,neg,90,0,0,66,0,0,0,0,0,...,1268,526,554,300,118,260,0,0,0,0
2,neg,30,na,16,14,0,0,0,0,0,...,480,84,74,50,46,0,0,0,0,0
3,neg,444,na,14,12,0,0,0,0,0,...,1614,1144,3598,2460,1258,8524,110,0,0,0
4,neg,82,na,12,10,0,0,0,0,1464,...,1010,132,310,56,92,1292,0,0,0,0

In [32]:
dataset=df.replace("na",np.nan)

In [34]:
dataset.isnull().sum()

class        0
aa_000       0
ab_000    3849
ac_000     308
ad_000    1236
          ...
ee_007      58
ee_008      58
ee_009      58
ef_000     242
eg_000     242
Length: 171, dtype: int64

In [35]:
dataset.isnull().sum().sort_values()

class        0
aa_000       0
bt_000      12
ck_000      38
cj_000      38
          ...
ab_000    3849
cr_000    3849
bp_000    3960
bq_000    4043
br_000    4105
Length: 171, dtype: int64

In [36]:
pd.options.display.max_rows=1000

In [43]:
# dataset.isnull().sum()

pd.DataFrame(dataset.isnull().sum().sort_values(ascending=False)).rename(columns={0:"Null valuse count"})

        Null valuse count
br_000               4105
bq_000               4043
bp_000               3960
ab_000               3849
cr_000               3849
bo_000               3832
bn_000               3631
bm_000               3273
bl_000               2234
bk_000               1880
ch_000               1236
co_000               1236
cf_000               1236
cg_000               1236
ad_000               1236
db_000               1150
ct_000               1150
cu_000               1150
cv_000               1150
cx_000               1150
cy_000               1150
cz_000               1150
da_000               1150
dc_000               1150
ec_00                 837
cm_000                796
cl_000                778
ed_000                778
ak_000                384
ca_000                383
di_000                361
df_000                361
dg_000                361
dh_000                361
eb_000                361
dk_000                361
dl_000                361
dm_000                361
dj_000                361
ac_000                308
cc_000                288
bx_000                288
do_000                243
bc_000                243
bd_000                243
dt_000                243
du_000                243
dv_000                243
ds_000                243
dp_000                243
dq_000                243
dr_000                243
ar_000                242
ea_000                242
ef_000                242
de_000                242
bz_000                242
eg_000                242
dz_000                242
dy_000                242
dx_000                242
cp_000                242
be_000                225
ce_000                224
ae_000                224
af_000                224
av_000                224
ax_000                224
dd_000                224
bf_000                224
bs_000                 66
cb_000                 66
bg_000                 65
ap_000                 65
al_000                 65
an_000                 65
bh_000                 65
bv_000                 64
cq_000                 64
dn_000                 64
bu_000                 64
cn_005                 61
ba_002                 61
cn_009                 61
cn_008                 61
cn_007                 61
cn_006                 61
cn_004                 61
cn_003                 61
cn_002                 61
cn_001                 61
cn_000                 61
ba_000                 61
ba_001                 61
ba_003                 61
ba_005                 61
ba_009                 61
ba_007                 61
ba_006                 61
cd_000                 61
ba_008                 61
ba_004                 61
bb_000                 60
ah_000                 60
ag_007                 58
ay_003                 58
ay_005                 58
ay_002                 58
ay_004                 58
ay_006                 58
ay_007                 58
ay_001                 58
ay_000                 58
ag_009                 58
ag_008                 58
cs_008                 58
ag_006                 58
ag_005                 58
ag_004                 58
ag_003                 58
ag_002                 58
ag_001                 58
ay_009                 58
ag_000                 58
ee_000                 58
ee_001                 58
ee_002                 58
ee_003                 58
ay_008                 58
ee_004                 58
az_000                 58
az_006                 58
cs_001                 58
cs_002                 58
cs_003                 58
cs_004                 58
cs_005                 58
az_001                 58
az_007                 58
az_008                 58
az_009                 58
ee_006                 58
ee_007                 58
ee_008                 58
ee_009                 58
cs_006                 58
cs_007                 58
ee_005                 58
cs_009                 58
az_005                 58
az_004                 58
az_003                 58
az_002                 58
cs_000                 58
ai_000                 56
aj_000                 56
am_0                   56
as_000                 56
at_000                 56
au_000                 56
ao_000                 53
aq_000                 53
bi_000                 53
bj_000                 53
by_000                 43
ck_000                 38
cj_000                 38
ci_000                 38
bt_000                 12
aa_000                  0
class                   0